.statistics{
    margin: 0 auto;
        width: 300px;
        text-align: center;
}
.statList{
    display: flex;
        list-style: none;
        gap: 10px;
        justify-content: space-evenly;
        padding: 0;
}
.item{
   
}
.label, .percentage{
    display: block;
}